.wizard-page-selected {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline !important;
}

.wizard-topic-selected {
	background: none repeat scroll 0 0 #ff75AC !omportant;
	border-bottom: medium none;
	border-left: 5px solid #0075AC;
	color: #FFFFFF;
	padding-left: 25px;
}

#brd-j_id1 {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline !important;
}

:focus,a:focus,input:focus,button:focus,.ui-state-focus {
	box-shadow: 0 0 0 0px rgba(255, 165, 0, 0.7) !important;
}

.ui-breadcrumb ul li a:hover,.ui-breadcrumb ul li a:focus {
	text-decoration: none !important;
	font-size: 14px;
	text-decoration: underline !important;
}