.wizard-page-selected {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 5px solid #0075AC;
	color: #f4f4f4 !important;
	background-color: #0075ac !important;
	border-left: 10px solid #0075ac !important;
	border-right: 10px solid #0075ac !important;
}

.wizard-topic-default {
	background: none repeat scroll 0 0 #9DA0A4 !important;
	border-bottom: medium none;
	border-left: 0px solid #9DA0A4;
	color: #FFFFFF;
	padding-left: 25px;
}

.wizard-topic-selected {
	border-bottom: medium none;
	border-left: 5px solid #0075ac;
	padding-left: 25px;
}

#brd-j_id1 {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 5px solid #0075AC;
	color: #f4f4f4 !important;
	background-color: #0075ac !important;
	border-left: 10px solid #0075ac;
	border-right: 10px solid #0075ac;
}

.ui-breadcrumb ul li {
	margin-right: 0 !important;
}

:focus,a:focus,input:focus,button:focus,.ui-state-focus {
	box-shadow: 0 0 0 0px rgba(255, 165, 0, 0.7) !important;
}

.ui-breadcrumb ul li:hover {
	font-size: 16px;
	font-weight: bold;
	background-color: #0075ac !important;
	text-decoration: none !important;
}

.ui-breadcrumb ul li a:hover {
	font-size: 16px;
	color: #f4f4f4 !important;
	text-decoration: none !important;
	border-bottom: 5px solid #0075AC;
	border-left: 10px solid #0075ac;
	border-right: 10px solid #0075ac;
}

.ui-breadcrumb ul li a:focus {
	text-decoration: none !important;
}


.ui-breadcrumb ul li a{
	font-size: 16px;
	font-weight: bold;
	margin-right: 0px !important;
	border-left: 10px solid #87cefa;
	border-right: 10px solid #87cefa;
}

.ui-breadcrumb ul li span a{
	margin-right: 0px !important;
	border-left: 10px solid #87cefa;
	border-right: 10px solid #87cefa;
}

.page-menu ul {
	list-style: none outside none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 !important;
	position: relative;
	z-index: 2;
}

.page-utility-bar {
	color: #E9E9E9;
	line-height: 40px !important;
}

.wizard-menu-item-disabled {
	opacity: 0.2;
}

#j_idt18 {
	padding: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#maincontentid-j_id1 {
	position: relative;
	padding-bottom: 70px;
}